@use "scss" as *;

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: $width-content;
    padding: 0 $layout-horizontal-spacer;
    margin-top: $header-height;
}

.content {
    flex: 1;
}
