@use "scss" as *;

.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: $header-height;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: $white;

    .inner {
        height: 100%;
        width: 1150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $layout-horizontal-spacer;
    }

    .logo {
        user-select: none;
    }

    .logo-link {
        display: flex;
    }
}

.actions {
    display: flex;
    align-items: center;
}

.plus-icon {
    color: rgb(22, 24, 35);
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;

    &:hover {
        border: 1px solid rgba(22, 24, 35, 0.12);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.message {
    margin-left: 16px;
    padding: 0px 3px 0;
}

.notify {
    margin-left: 16px;
}

.more-btn {
    cursor: pointer;
    margin-left: 16px;
    padding: 4px 12px;
    background-color: transparent;
}

.avatar-btn {
    margin-left: 24px;
    background-color: transparent;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    user-select: none;
}
