$primary-color: rgb(254, 44, 85);
$txt-color: #161823;

$white: #fff;
$black: #000;

$width-content: 1150px;
$layout-horizontal-spacer: 24px;
$header-height: 60px;

$font-family: "ProximaNova", sans-serif;
